---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

import global_json from '../data/global.json';

let global = global_json;
---

<Layout title="Aviso Legal">
	<main>
		<div class="flex flex-col mx-auto max-w-screen-2xl px-8 py-8 space-y-6">
			<span class="text-3xl sm:text-4xl text-center">
				Aviso Legal
			</span>
			
			<span class="text-2xl sm:text-3xl">
				1. Titularidad del sitio web
			</span>
			<span class="text-lg sm:text-xl">
				El dominio {global.web_empresa} es titularidad de {global.nombre_empresa}, con CIF {global.cif_empresa}, titular de los derechos de propiedad intelectual sobre las Webs y sus contenidos, sin perjuicio de los derechos legítimos de terceros.
			</span>
			<span class="text-lg sm:text-xl">
				Ud. puede ponerse en contacto con nosotros en el siguiente correo electrónico: {global.email_empresa}
			</span>

			<span class="text-2xl sm:text-3xl">
				2. Términos y Condiciones de Uso
			</span>
			<span class="text-lg sm:text-xl">
				El usuario accede voluntariamente a este sitio web. El acceso y navegación en este sitio web implica aceptar y conocer las advertencias legales, condiciones y términos de uso contenidos en ella. El mero acceso no implica el establecimiento de ningún tipo de relación comercial entre , {global.nombre_empresa} y el usuario.
			</span>
			<span class="text-lg sm:text-xl">
				El Aviso Legal y/o las Condiciones de los servicios prestados a través del presente sitio web, podrá sufrir modificaciones de cualquier tipo, cuando {global.nombre_empresa} lo considere oportuno o con la finalidad de adecuarse a los cambios legislativos y tecnológicos futuros. Estas modificaciones serán notificadas convenientemente siendo válidas desde su publicación en este sitio web, salvo manifestación en contrario. {global.nombre_empresa} se reserva el derecho a suspender o cancelar el acceso en el caso que se utilice para incumplir cualquier ley aplicable o las normas de uso habituales en internet, o bien si se utiliza su dominio en relación con una actividad ilegal, así como si se recibe notificación en ese sentido emitido por una autoridad competente o en los demás supuestos contemplados por la legislación vigente.
			</span>
			<span class="text-lg sm:text-xl">
				Los usuarios, en la utilización del sitio web y de los servicios vinculados al mismo, deberán respetar las siguientes obligaciones:
				<ul class="list-decimal ps-8 pt-4">
					<li>
						No introducir, almacenar o difundir mediante el sitio web o a través de cualquiera de los servicios vinculados al mismo ningún programa de ordenador, dato, virus, código, o cualquier otro instrumento o dispositivo electrónico que sea susceptible de causar daños en el sitio web, en cualquiera de los servicios vinculados al mismo o en cualesquiera equipos, sistemas o redes de la titular del dominio, de cualquier usuario, de sus proveedores o en general de cualquier tercero, o que de otra forma sea capaz de causarles cualquier tipo de alteración o impedir el normal funcionamiento del mismo.
					</li>
					<li>
						No destruir, alterar, inutilizar o dañar los datos, informaciones, programas o documentos electrónicos de la titular del dominio, de sus proveedores o de terceros.
					</li>
					<li>
						No utilizar los contenidos y en particular la información obtenida a través del sitio web para remitir publicidad, enviar mensajes con fines de venta o con cualquier otro fin comercial, ni para recoger o almacenar datos personales de terceros.
					</li>
					<li>
						Deberán abstenerse de eludir o manipular cualesquiera dispositivos técnicos establecidos, ya sea en el sitio web, en cualquiera de los servicios o en cualquiera de los materiales, elementos o información obtenidos a través del mismo, para la protección de sus derechos.
					</li>
					<li>
						Deberán abstenerse de suprimir los signos identificativos de los derechos (de propiedad intelectual, industrial o cualquier otro) de la titular del dominio o de los terceros que figuren en el sitio web y en cada uno de los diversos servicios ofrecidos a través de él.
					</li>
					<li>
						Se abstendrán de realizar cualquier actuación que pudiera resultar en una desviación de tráfico del sitio web.
					</li>
				</ul>
			</span>

			<span class="text-2xl sm:text-3xl">
				3. Productos y/o Servicios
			</span>
			<span class="text-lg sm:text-xl">
				{global.nombre_empresa} ofrece determinados servicios/productos a los usuarios, sometidos a los términos y condiciones indicados en el presente sitio web, debiendo el usuario leer con atención las condiciones que se apliquen a cada servicio, que en ningún caso eximirán, salvo manifestación expresa en contrario, del cumplimiento de lo expresado en el Aviso Legal.
			</span>

			<span class="text-2xl sm:text-3xl">
				4. Contenidos
			</span>
			<span class="text-lg sm:text-xl">
				{global.nombre_empresa} realiza los máximos esfuerzos para evitar errores en los contenidos que se publican en el sitio web. Todos los contenidos que se ofrecen a través del sitio web se encuentran actualizados, reservándose {global.nombre_empresa} la facultad de poder modificarlos en cualquier momento. {global.nombre_empresa} no se responsabiliza de las consecuencias que puedan derivarse de los errores en los contenidos proporcionados por terceros que puedan aparecer en este sitio web.
			</span>
			<span class="text-lg sm:text-xl">
				{global.nombre_empresa} ofrece enlaces, directa o indirectamente, a recursos o sitios de Internet que se encuentran fuera del presente sitio web. La presencia de estos enlaces en el sitio web tienen una finalidad informativa.
			</span>

			<span class="text-2xl sm:text-3xl">
				5. Limitación de Responsabilidad
			</span>
			<span class="text-lg sm:text-xl">
				No se garantiza que los servicios del sitio Web sean ininterrumpidos, oportunos, seguros o libres de error, ni se ofrece ninguna garantía con respecto a los resultados que se puedan obtener del uso de los servicios o de la precisión o fiabilidad de cualquier información obtenida. No se controlan, ni se hacen propios, ni se garantiza la exactitud, calidad, veracidad, fiabilidad o idoneidad de las informaciones y servicios facilitados o prestados por terceros a través del sitio Web. De igual forma, no controla y no garantiza la ausencia de virus u otros elementos lesivos en los contenidos o servicios facilitados o prestados por terceros a través del sitio Web.
			</span>
			<span class="text-lg sm:text-xl">
				{global.nombre_empresa} tampoco se responsabiliza del contenido de los sitios web a los que enlaza fuera de su página. Tampoco será responsable de cualquier daño o pérdida que pueda surgir por la conexión o por el uso de cualquier contenido, producto o servicio disponible en los sitios web a los que se dirijan los enlaces. {global.nombre_empresa} no puede garantizar la disponibilidad y el correcto funcionamiento de los enlaces a otros sitios web.
			</span>

			<span class="text-2xl sm:text-3xl">
				6. Propiedad Intelectual e Industrial
			</span>
			<span class="text-lg sm:text-xl">
				Este sitio web y los contenidos que alberga se encuentran protegidos por la legislación vigente en materia de propiedad intelectual. Se prohíbe la modificación, copia, reproducción, descarga, transmisión, distribución o transformación de los contenidos del Portal, si no se tiene la autorización del titular de los correspondientes derechos o se encuentra legalmente permitido. El acceso al sitio web no supone en ningún caso adquisición por parte de los usuarios de derecho de propiedad alguno sobre los contenidos que figuran en el mismo.
			</span>
			<span class="text-lg sm:text-xl">
				Las referencias a marcas comerciales o marcas registradas o signos distintivos, ya sean titularidad de {global.nombre_empresa} o de terceras empresas, llevan implícitas la prohibición sobre su uso sin el consentimiento de {global.nombre_empresa} o sus legítimos propietarios. En ningún momento, salvo manifestación expresa el acceso o uso del Portal y/o de sus contenidos, confiere al usuario derecho alguno sobre las marcas, logos, y/o signos distintivos en él incluidos protegidos por Ley.
			</span>
		</div>
		<Footer/>
	</main>
</Layout>
